.segment {
    padding: 5px;
    margin: 2px;
    border-radius: 7px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    background: black;
}
.entery {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
