.element {
    font-size: 24px;
}
.active {
    background: #111111;
    font-size: 26px;
}
.info {
    font-size: 28px;
    text-align: center;
}
.btn {
    cursor: pointer;
}
.control {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 600px;
    margin: 8px auto;
}
.bar {
    margin: 3px 6px;
    background: black;
}
.bar > * {
    height: 2px;
    background: white;
}
